* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    border: 1px solid grey;
    /* width: 100%; */
    display: flex;
    margin: 50px;
    padding: 50px;
    justify-content: space-between;
}

.box {
    border : 2px solid gray;
    width: 30%;
    height: 100px;
}

.box-wrapper {
    display: flex;
    width: 30%;
    justify-content: space-around;
}